<header class="header">
    <nav>
        <div class="wrapper">
            <div class="logo" aria-label="logo"></div>
            <h1><a href="/">KIE</a></h1>
            <a href="https://blog.kie.org" target="_blank">Blog</a>
            <a href="/kogito" target="_blank">Kogito</a>
            <a href="/drools" target="_blank">Drools</a>
            <a href="/jbpm" target="_blank">JBPM</a>
            <a href="/optaplanner" target="_blank">Optaplanner</a>
            <a href="#" class="responsive-menu-button">☰</a>
        </div>
    </nav>
</header>

<div id="responsive_menu">
    <ul>
        <li>
            <a href="#" class="responsive-menu-button close-button">✕</a>
            <h4>
                KIE websites
            </h4>
            <ul>
                <li><a href="https://blog.kie.org">Blog</a></li>
                <li><a href="/kogito">Kogito</a></li>
                <li><a href="/drools">Drools</a></li>
                <li><a href="/jbpm">JBPM</a></li>
                <li><a href="/optaplanner">Optaplanner</a></li>
            </ul>
        </li>
    </ul>
</div>