.container--band {
    display: flex;
    margin: 0 auto;
    grid-column: 1/end;
    flex-wrap: wrap;
}

.container--band-2-col {
    display: inline-flex;
    flex-wrap: wrap-reverse;
}

.container--band-about-intro {
    max-width: 75%;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .container--main {
        grid-template-columns: unset !important;
    }
}
