.container--band {
    display: flex;
    margin: 0 auto;
    grid-column: 1/end;
    flex-wrap: wrap;
}

.container--band-2-col {
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-gap: 2rem;
}
