@import "layout.css";
@import "card.css";

*,
:after,
:before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: sans-serif;
}

body {
    color: #475058;
    font-size: 1.6em;
    font-weight: 300;
    letter-spacing: 0.01em;
    line-height: 1.6;
    /* I haven't figured out where the offending element is, hack it for now */
    overflow-x: hidden;
}

#overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.1s;
}

/* Wrapper starts */

.navigation--primary,
nav footer .row,
footer nav .row {
    padding: 0;
}


/* Wrapper ends */


/* NAV Starts */
header {
    background-color: #f8f8f8;
    box-shadow: 0 1px 5px 5px #adadad;
}

nav {
    grid-template-columns: auto 1fr;
    grid-template-rows: 75% auto;
    display: grid;
}

nav h1 {
    display: inline-block;
    font-size: 3rem;
    margin: 0 -0.5rem 0 0;
    line-height: 7rem;
    padding: 0 2rem 0 0;
    border-right: 1px solid #dedede;
    color: #475058;
    font-weight: 800;
    font-family: "Overpass", sans-serif;
    letter-spacing: -0.1rem;
}

nav a,
nav .logo {
    display: inline-block;
}

nav a {
    font-weight: 800;
    color: #475058;
    text-transform: uppercase;
    line-height: 6.8rem;
    height: 70px;
    text-decoration: none;
    padding: 0.2rem 2rem;
}

nav .logo {
    width: 80px;
    height: 80px;
    background-size: cover;
    position: relative;
    box-shadow: 0 0 0 10px #f8f8f8;
    border-radius: 100%;
    border-bottom: 2px solid #ddd;
    background-image: url("../../static/images/kie_logo.png");
    vertical-align: bottom;
}

nav .responsive-menu-button {
    position: absolute;
    right: 0;
    display: none;
}

.navigation--primary {
    grid-column: 2/3;
    text-align: center;
}

.navigation--secondary {
    background-color: lightgray;
    border-top: 3px solid #adadad;
    align-items: center;
    grid-column: 1/4;
    text-align: center;
}

.navigation--secondary a {
    text-decoration: none;
    padding: 0 2rem;
    font-weight: unset;
    color: unset;
    text-transform: unset;
    line-height: unset;
    height: unset;
    display: inline;
}

.navigation-item--active {
    text-decoration: underline;
}

/* NAV Ends */

/* Responsive Menu Starts */
.navigation--responsive {
    width: 300px;
    height: 100vh;
    background: rgba(255, 255, 255, 0.9);
    position: fixed;
    z-index: 3;
    top: 0;
    right: -320px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    border-left: 2px solid #5f5f5f;
    transition: right 0.5s;
    transform: rotate3d(0, 0, 0, 0deg);
    padding: 10px 20px 0;
}

.navigation--responsive .close-button {
    display: block;
    text-align: right;
    right: 0;
    position: relative;
    text-decoration: none;
}

.navigation--responsive .close-button + h4 {
    margin-top: 10px;
    outline: none;
}

.navigation--responsive ul {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #475058;
}

.navigation--responsive ul ul {
    padding-left: 2.5rem;
}

.navigation--responsive ul li {
    margin: 0;
    padding: 5px 0;
}

.navigation--responsive h4,
.navigation--responsive li a {
    color: #475058;
    font-family: "Overpass", sans-serif;
}

.navigation--responsive li a {
    font-size: 16px;
    font-weight: 700;
}

.navigation--responsive h4 {
    font-size: 1.8rem;
    font-weight: 800;
    border-bottom: 1px solid #d1d7dc;
    padding-bottom: 15px;
    margin: 20px 0 7px;
    text-transform: uppercase;
}

.responsive-menu-opened {
    overflow: hidden;
}

.responsive-menu-opened nav,
.responsive-menu-opened .footer,
.responsive-menu-opened .main {
    filter: blur(1px);
}

.responsive-menu-opened #overlay {
    opacity: 1;
}

.responsive-menu-opened .navigation--responsive {
    right: 0;
}


/* responsive view */

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .container h2,
    footer h2 {
        padding-left: 2.25rem;
    }

    .container h2:before,
    footer h2:before {
        left: 1rem;
    }

    ul {
        padding-left: 2rem;
    }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
}

/* tablets (portrait and landscape) ----------- */
@media only screen and (max-device-width: 1023px) {
    nav {
        box-shadow: unset;
    }

    nav a {
        display: none;
    }

    .navigation--secondary {
        display: none;
    }

    nav .responsive-menu-button {
        display: inline-block;
    }
}

/* Tablets and potentially laptops */
@media screen and (max-device-width: 1024px) {
}

/* larger laptops and iPad Pro */
@media only screen and (min-device-width: 1300px) {
}

/* large screens */
@media only screen and (min-width: 1301px) {
}

@media only screen and (min-width: 1440px) {
}

/* 4k */
@media only screen and (min-width: 2560px) {
}

/* tablets (landscape) ----------- */
@media only screen and (max-device-width: 1024px) and (orientation: landscape) {
    /* Styles */
}

/* tablets (portrait) ----------- */
@media only screen and (max-device-width: 1024px) and (orientation: portrait) {
    /* Styles */
}

img {
    max-width: 100%;
}

footer {
    color: #d1d1d1;
    border-top: 0.1rem solid #f4f5f6;
    margin-top: 6rem;
    font-size: 1.5rem;
    text-align: center;
    background: #000;
    padding: 3rem 0;
}

footer .row .column {
    text-align: left;
    padding: 0;
}

footer .row .column a,
footer .row .column span {
    color: #ddd;
    display: inline-block;
    vertical-align: middle;
}

footer .row:nth-child(2) span {
    padding-top: 1rem;
    color: #777;
}

footer .row .column a.logo {
    background: url(../../static/images/redHatLogo.png) no-repeat;
    background-size: 144px 34px;
    height: 34px;
    top: auto;
    width: 144px;
    margin: 0;
}

/* Footer ends */
